<ul class="background">
  <img src="../assets/dave1.png">
  <img src="../assets/dave1.png">
  <img src="../assets/dave1.png">
  <img src="../assets/dave1.png">
  <img src="../assets/dave1.png">
  <img src="../assets/dave1.png">
  <img src="../assets/dave1.png">
  <img src="../assets/dave1.png">
  <img src="../assets/dave1.png">
  <img src="../assets/dave1.png">


  <div id="app">
    <div class="gift" [ngClass]="{'dukdit': !open}" (click)="click()">
      <div class="gift-top" 
           [ngClass]="{'boxOpen': open}"
       ></div>
      <h1 class="gift-text" *ngIf="open">
        <div class="typewriter">
          <h1>Happy 1st Anniversary My Love ❤❤❤</h1>
        </div>

        <!-- {{text}} -->
      </h1>
      <div class="gift-box"
           [ngClass]="{'boxDown': open}"
       ></div>
    </div>
  </div>
</ul>
