@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #222831;
  overflow: hidden;
}
.background img {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  // background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background img:nth-child(0) {
  left: 84%;
  width: 194px;
  height: 194px;
  bottom: -194px;
  animation-delay: 1s;
}
.background img:nth-child(1) {
  left: 89%;
  width: 118px;
  height: 118px;
  bottom: -118px;
  animation-delay: 1s;
}
.background img:nth-child(2) {
  left: 70%;
  width: 196px;
  height: 196px;
  bottom: -196px;
  animation-delay: 2s;
}
.background img:nth-child(3) {
  left: 38%;
  width: 142px;
  height: 142px;
  bottom: -142px;
  animation-delay: 11s;
}
.background img:nth-child(4) {
  left: 75%;
  width: 109px;
  height: 109px;
  bottom: -109px;
  animation-delay: 13s;
}
.background img:nth-child(5) {
  left: 6%;
  width: 116px;
  height: 116px;
  bottom: -116px;
  animation-delay: 5s;
}
.background img:nth-child(6) {
  left: 3%;
  width: 130px;
  height: 130px;
  bottom: -130px;
  animation-delay: 18s;
}
.background img:nth-child(7) {
  left: 54%;
  width: 130px;
  height: 130px;
  bottom: -130px;
  animation-delay: 19s;
}
.background img:nth-child(8) {
  left: 52%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 5s;
}
.background img:nth-child(9) {
  left: 42%;
  width: 140px;
  height: 140px;
  bottom: -140px;
  animation-delay: 33s;
}